@if (product && !isLoading) {
  <div class="product-page">
    <a routerLink="/accueil" class="back-link">← Retour à l'accueil</a>

    <div class="main-product">
      <div class="product-image-container">
        <img
          [src]="getImageUrl(product.imageUrl)"
          (error)="onImageError($event)"
          alt="{{ product.name }}"
          class="main-image"
        />
      </div>
      <div class="product-info">
        <h1>{{ product.name }}</h1>
        <p class="description">{{ product.description }}</p>
        <p class="price">€ {{ product.price | number:'1.2-2' }}</p>
        <div class="actions">
 <button
  [disabled]="!product?.isAvailable"
  [ngClass]="{ 'disabled-btn': !product?.isAvailable }"
  (click)="addToCart(product)"
>
  Ajouter au panier
</button>

        </div>
      </div>
    </div>

    <hr />

    <h2 class="suggestion-title">Nos autres propositions</h2>
    <div class="suggestions">
      @for (p of otherProducts.slice(0, 4); track p.id) {
        <div class="suggestion-card">
          <img
            [src]="getImageUrl(p.imageUrl)"
            (error)="onImageError($event)"
            alt="{{ p.name }}"
            class="suggestion-image"
          />
          <h3>{{ p.name }}</h3>
          <p class="price">€ {{ p.price | number:'1.2-2' }}</p>
<button
  [disabled]="!product?.isAvailable"
  [ngClass]="{ 'disabled-btn': !product?.isAvailable }"
  (click)="addToCart(product)"
>
  Ajouter au panier
</button>
        </div>
      }
    </div>
  </div>
}
